
<div class="flex flex-row justify-around">
  <form>
    <div class="flex flex-col justify-center mt-1">
      <label class="mb-1 text-lg text-cerulean-800 font-semibold">Username</label>
      <input placeholder="Enter Username" class="p-2 registerInput rounded-md">
    </div>
    <div class="flex flex-col justify-center mt-1">
      <label class="mb-1 text-lg text-cerulean-800 font-semibold">Email</label>
      <input placeholder="Enter Valid Email" class="p-2 registerInput rounded-md">
    </div>
    <div class="flex flex-col justify-center mt-1">
      <label class="mb-1 text-lg text-cerulean-800 font-semibold">Password</label>
      <input placeholder="Enter Password" class="p-2 registerInput rounded-md">
    </div>
    <div class="flex flex-col justify-center mt-1">
      <label class="mb-1 text-lg text-cerulean-800 font-semibold">Password</label>
      <input placeholder="Confirm Password" class="p-2 registerInput rounded-md">
    </div>
    <div class="flex flex-row justify-center mt-4">
      <button type="submit" class="w-full h-8 border-2 border-cerulean-400 bg-cerulean-300 rounded-lg tracking-wide font-semibold text-cerulean-800 hover:bg-cerulean-200 drop-shadow-lg shadow-cerulean-700">
        Submit
      </button>
    </div>
  </form>
</div>
