<div class="flex flex-row justify-center h-full items-center">
  <form [formGroup]="loginForm">
    <div class="flex flex-col justify-center">
      <div *ngIf="username.invalid && username.dirty">
        <span
          class="tracking-tighter text-pastel-pink-700 text-sm"
          *ngIf="username.errors?.['required']"
        >
          Username is required!
        </span>
      </div>

      <label class="mb-1 text-xl text-pastel-pink-800 font-semibold"
        >Username</label
      >
      <input
        class="p-2 loginInput rounded-md"
        placeholder="Enter Username"
        formControlName="username"
        name="username"
      />
    </div>
    <div class="flex flex-col justify-center mt-4">
      <div *ngIf="password.invalid && password.dirty">
        <span
          class="tracking-tighter text-pastel-pink-700 text-sm"
          *ngIf="password.errors?.['required']"
        >
          Password is Required!
        </span>
        <span
          class="tracking-tighter text-pastel-pink-700 text-sm"
          *ngIf="password.errors?.['minlength']"
        >
          Password needs to be at least 6 characters
        </span>
      </div>
      <label class="mb-1 text-xl text-pastel-pink-800 font-semibold"
        >Password</label
      >
      <input
        type="password"
        name="password"
        class="p-2 loginInput rounded-md"
        placeholder="Enter password"
        formControlName="password"
      />
    </div>
    <div class="flex flex-row justify-center mt-5">
      <button
        type="submit"
        (click)="login(loginForm.value.username, this.loginForm.value.password)"
        class="w-full h-8 border-2 border-pastel-pink-400 bg-pastel-pink-300 rounded-lg tracking-wide font-semibold text-pastel-pink-800 hover:bg-pastel-pink-200 drop-shadow-lg shadow-pastel-pink-700"
      >
        Login
      </button>
    </div>
    <div class="flex flex-row justify-center mt-2" *ngIf="error">
      <span class="text-sm font-bold text-pastel-pink-700">
        Invalid login
      </span>
    </div>
  </form>
</div>
